<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Admin")


</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <form class="d-none d-md-inline-block form-inline ms-5 me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <img src="~/imagenes/sipymelogo.jpg" style="width: 180px; height: auto;">
            </div>
        </form>
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <a class="navbar-brand ps-3" href="@Url.Action("IframeLimpio", "Home")">Visualizar Mapa</a>
                <a class="navbar-brand ps-3" href="@Url.Action("Index", "Home")">Iniciar Sesion</a>
            </div>
        </form>


    </nav>
   
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Municipalidad San Pablo Heredia</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/AdminScript")
    @RenderSection("scripts", required: false)
</body>
</html>
