
@{
    ViewBag.Title = "ListarPymesAdministrador";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<SelectListItem> lst = ViewBag.ComboBoxData;
}

@Scripts.Render("~/bundles/Register")

<div style="margin-left:15px">
    <ol class="breadcrumb mb-4 mt-4">
        <li class="breadcrumb-item"><a> Resumen</a></li>
        <li class="breadcrumb-item active">Pymes</li>
    </ol>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.3.1/decimal.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Pymes
    </div>
    <div class="card-body">
        <div class="row">



            <div class="col-12">
                <button type="button" class="btn btn-success mb-2" onclick="abrirModal()">Registrar Nueva Pyme</button>
            </div>




            <hr />
            <table id="tablaAdmin" class="display cell-border" style="width: 100%">
                <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>AreaTrabajo</th>
                <th>Teléfono</th>
                <th>Estado</th>
                <th>Mantenimiento</th>
                </thead>
                <tbody>
                </tbody>


            </table>

        </div>


    </div>

</div>


<!-- Modal de borrar -->
<div class="modal" id="confirm-modal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro de que desea eliminar esta Pyme? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="eliminar-pyme" onclick="cerrarModadDeConfirmacion()" class="btn btn-primary">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  de registrar-->
<div class="modal fade modal-xl" id="resgistro-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Creacion de Pyme</h5>
                <button type="button" onclick="cerrarModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>



            <form action='@Url.Action("RegistraPyme", "Administrador")' enctype="multipart/form-data" method="post" class="mx-1 mx-md-4 mb-4" id="registration-form">
                <input id="editsave" type="hidden" value="0" />



                <div class="row">
                    <input id="latitud" name="Latitud" type="hidden" class="form-control" />
                    <input id="longitud" name="Longitud" type="hidden" class="form-control" />

                    <div class="col-sm-6 mt-2 form-floating">
                        <input type="number" name="id" id="id" class="form-control" placeholder="id " required title="Se asigna automaticamente luego de registrar la Pyme" disabled />
                        <label class="form-label" for="id">ID</label>
                    </div>


                    <div class="col-sm-6 mt-2 form-floating">
                        <input type="text" name="estado_pyme" id="estado" class="form-control" placeholder="estado " value="Pendiente" disabled />
                        <label class="form-label" for="estado">Estado</label>
                    </div>



                    <div class="col-sm-6 mt-2 form-floating">
                        <input id="id_usuario2" name="Id_usuario" type="text" class="form-control" placeholder="Id Usuario " required />
                        <label class="form-label" for="id">ID Usuario</label>

                        <div class="invalid-feedback" id="invalid-ced">

                        </div>


                    </div>


                    <div class="col-sm-6 mt-2 form-floating">
                        <input type="text" name="nombre" id="name" class="form-control" placeholder="Nombre " required />
                        <label class="form-label" for="name">Nombre</label>
                        <div class="invalid-feedback">
                            Por favor Ingrese el Nombre.
                        </div>
                    </div>

                    <div class="col-sm-6 mt-2 form-floating">
                        <input type="tel" required title="Sin guiones ni espacios." name="numeroTelefono" id="phone" class="form-control" placeholder="Teléfono" required />
                        <label class="form-label" for="phone">Teléfono</label>
                        <div class="invalid-feedback" id="invalid-numerl-tel">
                        </div>
                    </div>


                    <div class="col-sm-6 mt-2 form-floating">
                        <input type="email" id="email" name="correo" class="form-control" placeholder="Correo Electrónico" required />
                        <label class="form-label" for="email">Correo Electrónico</label>
                        <div class="invalid-feedback" id="invalid-email">

                        </div>
                    </div>


                    <div class="col-sm-6 mt-2 form-floating">

                        @Html.DropDownList("areaTrabajo", lst, new { @class = "form-control input_user", id = "comboboxAreaTrabajo" })

                        <div class="invalid-feedback">
                            Favor Seleccione el Area de Trabajo
                        </div>
                    </div>


                    <div class="col-sm-12 mt-2 form-floating">
                        <div class="mb-3">
                            <label class="form-label" for="descripcion">Descripcion</label>
                            <textarea class="form-control" id="descripcion" rows="4" name="descripcion" required></textarea>
                        </div>
                        <div class="invalid-feedback" id="invalid-descrip">
                        </div>
                    </div>


                    <div class="col-sm-12 mt-2 form-floating">
                        <h6 class="form-label">Favor Indique donde esta su negocio por medio del marcador</h6>
                    </div>

                    <div class="col-sm-12 mt-2 form-floating">
                        <div id="mapa" style="width: 100%; height:500px;"></div>
                    </div>


                    <div class="col-sm-12 mt-3 form-floating">
                        <h5 class="form-label">Informacion Adicional</h5>
                    </div>

                    <div class="col-sm-6 mt-2 form-floating">
                        <input type="url" id="webSocial" name="webSocial" class="form-control" placeholder="Web Social" />
                        <label class="form-label" for="webSocial"> Web Social</label>
                    </div>

                    <div class="col-sm-6 mt-2 form-floating">
                        <input type="url" id="sitioWeb" name="sitioWeb" class="form-control" placeholder="Sitio Web" />
                        <label class="form-label" for="sitioWeb">Sitio Web</label>
                    </div>

                    <div class="col-sm-4 mt-3 form-floating">
                        <h7 class="form-label">Logo </h7>
                    </div>
                    <div class="col-sm-4 mt-3 form-floating">
                        <h7 class="form-label">Fotos del producto </h7>
                    </div>
                    <div class="col-sm-4 mt-3 form-floating">
                        <h7 class="form-label">Fotos de la pyme </h7>
                    </div>

                    <div class="col-sm-4 mt-2 form-floating">
                        <input required title="Solo se aceptan archivos png o jpeg" type="file" accept="image/png,image/jpeg" class="form-control-file" id="Rlogo" name="upload">
                    </div>

                    <div class="col-sm-4 mt-2 form-floating">
                        <input required title="Solo se aceptan archivos png o jpeg" type="file" accept="image/png,image/jpeg" class="form-control-file" id="Rlogo2" name="producto" multiple>
                    </div>

                    <div class="col-sm-4 mt-2 form-floating">
                        <input required title="Solo se aceptan archivos png o jpeg" type="file" accept="image/png,image/jpeg" class="form-control-file" id="Rlogo3" name="pyme" multiple>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="cerrarModal()" id="btn_cerrar_modal" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="registration-btn">Registrar</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- Modal Editar-->
<div class="modal fade modal-xl" id="editar-modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Editar Pyme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form action='@Url.Action("EditaPyme", "Administrador")' enctype="multipart/form-data" method="post" class="mx-1 mx-md-4 mb-4" id="registration-form2">
                    <input id="editsave" type="hidden" value="0" />



                    <div class="row">
                        <div class="col-sm-12 text-center justify-content-center align-items-center">
                            <img id="img-logo" class="img-fluid rounded-circle mt-2 mb-2" alt="Imagen" style="max-width: 200px;">
                        </div>
                        <input id="latitud2" name="Latitud" type="hidden" class="form-control" />
                        <input id="longitud2" name="Longitud" type="hidden" class="form-control" />



                        <div class="col-sm-6 mt-2 form-floating">
                            <input id="id_usuario" name="Id_usuario" type="text" class="form-control" required />
                            <label class="form-label" for="id">ID Usuario</label>
                        </div>


                        <div class="col-sm-6 mt-2 form-floating">
                            <input type="text" name="id" id="id2" class="form-control" placeholder="id " readonly />
                            <label class="form-label" for="id">ID</label>
                        </div>
                        <div class="col-sm-6 mt-2 form-floating">
                            <input type="text" name="Estado_pyme" value="Pendiente" id="estado2" class="form-control" placeholder="estado " disabled />
                            <label class="form-label" for="estado">Estado</label>
                        </div>

                        <div class="col-sm-6 mt-2 form-floating">
                            <input type="text" name="nombre" id="name2" class="form-control" placeholder="Nombre " required />
                            <label class="form-label" for="name">Nombre</label>

                        </div>

                        <div class="col-sm-6 mt-2 form-floating">
                            <input type="tel" name="numeroTelefono" id="phone2" class="form-control" placeholder="Teléfono" required />
                            <label class="form-label" for="phone">Teléfono</label>
                            <div class="invalid-feedback" id="invalid-numerl-tel2">
                            </div>
                        </div>


                        <div class="col-sm-6 mt-2 form-floating">
                            <input type="email" id="email2" name="correo" class="form-control" placeholder="Correo Electrónico" required />
                            <label class="form-label" for="email">Correo Electrónico</label>
                            <div class="invalid-feedback" id="invalid-email2">

                            </div>
                        </div>


                        <div class="col-sm-6 mt-2 form-floating">

                            @Html.DropDownList("areaTrabajo", lst, new { @class = "form-control input_user", id = "comboboxAreaTrabajo2" })

                            <div class="invalid-feedback">
                                Favor Seleccione el Area de Trabajo
                            </div>
                        </div>


                        <div class="col-sm-12 mt-2 form-floating">
                            <div class="mb-3">
                                <label class="form-label" for="descripcion">Descripcion</label>
                                <textarea class="form-control" id="descripcion2" rows="4" name="descripcion" required></textarea>
                            </div>

                        </div>


                        <div class="col-sm-12 mt-2 form-floating">
                            <h6 class="form-label">Favor Indique donde esta su negocio por medio del marcador</h6>
                        </div>

                        <div class="col-sm-12 mt-2 form-floating">
                            <div id="mapa2" style="width: 100%; height:500px;"></div>
                        </div>


                        <div class="col-sm-12 mt-3 form-floating">
                            <h5 class="form-label">Informacion Adicional</h5>
                        </div>

                        <div class="col-sm-6 mt-2 form-floating">
                            <input type="url" id="webSocial2" name="webSocial" class="form-control" placeholder="Web Social" />
                            <label class="form-label" for="webSocial"> Web Social</label>
                        </div>

                        <div class="col-sm-6 mt-2 form-floating">
                            <input type="url" id="sitioWeb2" name="sitioWeb" class="form-control" placeholder="Sitio Web" />
                            <label class="form-label" for="sitioWeb">Sitio Web</label>
                        </div>
                        <div class="col-sm-4 mt-3 form-floating">
                            <h7 class="form-label">Editar Logo:  </h7>
                        </div>
                        <div class="col-sm-4 mt-3 form-floating">
                            <h7 class="form-label">Subir mas fotos del producto </h7>
                        </div>
                        <div class="col-sm-4 mt-3 form-floating">
                            <h7 class="form-label">Subir mas fotos de Pyme </h7>
                        </div>

                        <div class="col-sm-4 form-floating">

                            <input required title="Solo se aceptan archivos png o jpeg" type="file" accept="image/png,image/jpeg" class="form-control-file" id="Elogo" name="upload">
                        </div>

                        <div class="col-sm-4 mt-2 form-floating">
                            <input required title="Solo se aceptan archivos png o jpeg" type="file" accept="image/png,image/jpeg" class="form-control-file" id="Elogo2" name="producto" multiple>
                        </div>

                        <div class="col-sm-4 mt-2 form-floating">
                            <input required title="Solo se aceptan archivos png o jpeg" type="file" accept="image/png,image/jpeg" class="form-control-file" id="Elogo3" name="pyme" multiple>
                        </div>




                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" id="btn-fotos-producto">Ver Fotos Producto</button>
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal" id="btn-fotos-pyme">Ver Fotos Pyme</button>
                <button type="button" class="btn btn-primary" id="edit-btn">Editar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-xl" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Fotos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="fotosProducto">



                </div>
                <!-- Gallery -->
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>



</div>
<div class="modal fade modal-xl" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel3">Fotos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="fotosPyme">



                </div>
                <!-- Gallery -->
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#editar-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>



</div>


<!-- Modal Rechazo -->
<div class="modal" id="rechazopyme-modal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Digite la razon de rechazo </p>
                <textarea class="form-control" id="razonRechazo2" rows="4" name="razonRechazo2" required></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="rechazar-pyme2" onclick="cerrarModadDeRechazo()" class="btn btn-primary">Rechazar</button>
            </div>
        </div>
    </div>
</div>













@section scripts{

    <script>

        var latitudDB;
        var longitudDB;
        var latitudDB1;
        var longitudDB1;
        var dataprint;
        let imgElement12;
        let botonEliminar;
        function abrirModal() {
            longitudDB = 0;
            latitudDB = 0;
            iniciarMapa();
            $("#resgistro-modal").modal("show");
        }

        function cerrarModal() {
            $("#resgistro-modal").modal("hide");
    }

    //modal de editar pyme
    function abrirModalEditar() {
        $("#form-modalEdit").modal("show");
    }

    function cerrarModalEditar() {
        $("#form-modalEdit").modal("hide");
    }



        function Guardar() {
            //pasar a binario
            var hola = document.getElementById("latitud")
            hola.value = latitudDB;
            document.getElementById("longitud").value = longitudDB;

            document.getElementById("registration-form").submit();
        }
        function Editar() {
            //pasar a binario
            var hola = document.getElementById("latitud2")
            hola.value = latitudDB1;
            document.getElementById("longitud2").value = longitudDB1;

            document.getElementById("registration-form2").submit();
        }
    //validacion
        function esNumeroTelefonico(numero) {
            const regex = /^\d{8}$/;
            return regex.test(numero);
        }


        document.getElementById("registration-btn").onclick = function () {
            /*Obtener los valores de los campos del formulario*/

            var name = document.getElementById("name").value;
            var phone = document.getElementById("phone").value;
            var email = document.getElementById("email").value;
            var descripcion = document.getElementById("descripcion").value;
            var areaTab = document.getElementById("comboboxAreaTrabajo").value;
            var latitu = latitudDB;
            var longitu = longitudDB;
            var idusuario = document.getElementById("id_usuario2").value;

            var logo = document.getElementById("Rlogo");
            var logo2 = document.getElementById("Rlogo2");
            var logo3 = document.getElementById("Rlogo3");
            // Validar los campos requeridos




            var errorMessage = "";

            if (logo2.value) {
                for (var i = 0; i < logo2.files.length; i++) {
                    var fileSize = logo2.files[i].size; // Obtener el tamaño del archivo en bytes

                    if (fileSize >= 416000) {
                        errorMessage += "La imagen " + logo2.files[i].name + " exede el peso permitido (416000 bites) .\n";
                    }
                }
            }
            if (logo3.value) {
                for (var i = 0; i < logo3.files.length; i++) {
                    var fileSize2 = logo3.files[i].size; // Obtener el tamaño del archivo en bytes

                    if (fileSize2 >= 416000) {
                        errorMessage += "La imagen " + logo3.files[i].name + " exede el peso permitido (416000 bites) .\n";
                    }
                }
            }

            if (logo.value) {
                if (logo.files[0].size >= 416000) {
                    errorMessage += "Debe ingresar un logo de menor cantidad de bytes maximo (416000 bites) .\n";
                }
            }
            // Validar los campos requeridos

            if (name == "") {
                errorMessage += "Debe ingresar el nombre .\n";
            }

            if (idusuario == "") {
                errorMessage += "Debe ingresar la cédula del usuario .\n";
            }




            if (areaTab == "") {
                errorMessage += "Debe seleccionar el area de trabajo.\n";
            }

            if (phone == "") {
                errorMessage += "Debe ingresar su número de teléfono.\n";
            } else if (!esNumeroTelefonico(phone)) {
                errorMessage += "Debe ingresar un número de teléfono valido.\n";
            }
            if (email == "") {
                errorMessage += "Debe ingresar su correo electrónico.\n";
            } else if (!esCorreo(email)) {
                errorMessage += "Debe ingresar una dirección de correo valida.\n";
            }
            if (descripcion == "") {
                errorMessage += "Debe ingresar la descripcion de la pyme.\n";
            }
            if (latitu == 0 && longitu == 0 || latitu === undefined || longitu === undefined) {
                errorMessage += "Debe marcar la ubicacion de la pyme.\n";
            }



            // Mostrar el mensaje de error o enviar el formulario
            if (errorMessage != "") {
                alert(errorMessage);
            } else {
                Guardar();
            }

        };

        //validaciones
        const name = document.getElementById("name");
        name.addEventListener("blur", function () {
            if (!name.value) {
                name.classList.add("is-invalid");
            } else {
                name.classList.remove("is-invalid");
            }
        });

        const ced = document.getElementById("id_usuario2");
        const errorCed = document.getElementById("invalid-ced");
        ced.addEventListener("blur", function () {
            if (!ced.value) {
                ced.classList.add("is-invalid");
                errorCed.textContent = "Por favor su cedula de identidad"
            } else if (!esCedula(ced.value)) {
                ced.classList.add("is-invalid");
                errorCed.textContent = "Por favor ingrese una cedula de identidad valida, sin espacios ni guiones"
            } else {
                ced.classList.remove("is-invalid");
            }
        });



        const areaT = document.getElementById("comboboxAreaTrabajo");
        areaT.addEventListener("blur", function () {
            if (!areaT.value) {
                areaT.classList.add("is-invalid");
            } else {
                areaT.classList.remove("is-invalid");
            }
        });
        const phone = document.getElementById("phone");
        const errorTelefono = document.getElementById("invalid-numerl-tel");
        phone.addEventListener("blur", function () {
            if (!phone.value) {
                phone.classList.add("is-invalid");
                errorTelefono.textContent = "Por favor ingrese un número de teléfono"
            } else if (!esNumeroTelefonico(phone.value)) {
                phone.classList.add("is-invalid");
                errorTelefono.textContent = "Por favor ingrese un número de teléfono valido, formato: XXXXXXX)"
            } else {
                phone.classList.remove("is-invalid");
            }
        });

        const email = document.getElementById("email");
        const errorCorreo = document.getElementById("invalid-email");
        email.addEventListener("blur", function () {
            if (!email.value) {
                email.classList.add("is-invalid");
                errorCorreo.textContent = "Por favor ingrese un correo electrónico valido"
            } else if (!esCorreo(email.value)) {
                email.classList.add("is-invalid");
                errorCorreo.textContent = "Por favor ingrese un correo electrónico valido"
            } else {
                email.classList.remove("is-invalid");
            }
        });
        const descripcion = document.getElementById("descripcion");
        descripcion.addEventListener("blur", function () {
            if (!descripcion.value) {
                descripcion.classList.add("is-invalid");
            } else {
                descripcion.classList.remove("is-invalid");
            }
        });

        // validaciones edit
        const name2 = document.getElementById("name2");
        name2.addEventListener("blur", function () {
            if (!name2.value) {
                name2.classList.add("is-invalid");
            } else {
                name2.classList.remove("is-invalid");
            }
        });
        const areaT2 = document.getElementById("comboboxAreaTrabajo2");
        areaT2.addEventListener("blur", function () {
            if (!areaT2.value) {
                areaT2.classList.add("is-invalid");
            } else {
                areaT2.classList.remove("is-invalid");
            }
        });
        const phone2 = document.getElementById("phone2");
        const errorTelefono2 = document.getElementById("invalid-numerl-tel2");
        phone2.addEventListener("blur", function () {
            if (!phone2.value) {
                phone2.classList.add("is-invalid");
                errorTelefono2.textContent = "Por favor ingrese un número de teléfono"
            } else if (!esNumeroTelefonico(phone2.value)) {
                phone2.classList.add("is-invalid");
                errorTelefono2.textContent = "Por favor ingrese un número de teléfono valido, formato: XXXXXXX)"
            } else {
                phone2.classList.remove("is-invalid");
            }
        });
        const email2 = document.getElementById("email2");
        const errorCorreo2 = document.getElementById("invalid-email2");
        email2.addEventListener("blur", function () {
            if (!email2.value) {
                email2.classList.add("is-invalid");
                errorCorreo2.textContent = "Por favor ingrese un correo electrónico valido"
            } else if (!esCorreo(email2.value)) {
                email2.classList.add("is-invalid");
                errorCorreo2.textContent = "Por favor ingrese un correo electrónico valido"
            } else {
                email2.classList.remove("is-invalid");
            }
        });
        const descripcion2 = document.getElementById("descripcion2");
        descripcion2.addEventListener("blur", function () {
            if (!descripcion2.value) {
                descripcion2.classList.add("is-invalid");
            } else {
                descripcion2.classList.remove("is-invalid");
            }
        });
    //mapa
        function iniciarMapa() {
            var latitud = 9.996528099999999;
            var longitud = -84.0968322

            cordenadas = {
                lng: longitud,
                lat: latitud
            }

            generarMapa(cordenadas,"mapa");
        }


    //mapa registrar
        function generarMapa(cordenadas,id) {
            var mapa = new google.maps.Map(document.getElementById(id), {
                zoom: 15,
                center: new google.maps.LatLng(cordenadas.lat, cordenadas.lng)
            });

            var marcador = new google.maps.Marker({
                map: mapa,
                draggable: true,
                position: new google.maps.LatLng(cordenadas.lat, cordenadas.lng)
            });

            marcador.addListener('dragend', function (event) {
                latitudDB = this.getPosition().lat();
                longitudDB = this.getPosition().lng();
                document.getElementById("latitud").value = latitudDB;
                document.getElementById("longitud").value = longitudDB;

                console.log('Latitud:', latitudDB, 'Longitud:', longitudDB);
            });
        }
        // mapa editar
        function generarMapaEditar(cordenadas, id) {
            var mapa = new google.maps.Map(document.getElementById(id), {
                zoom: 15,
                center: new google.maps.LatLng(cordenadas.lat, cordenadas.lng)
            });

            var marcador = new google.maps.Marker({
                map: mapa,
                draggable: true,
                position: new google.maps.LatLng(cordenadas.lat, cordenadas.lng)
            });

            marcador.addListener('dragend', function (event) {
                latitudDB1 = this.getPosition().lat();
                longitudDB1 = this.getPosition().lng();
                document.getElementById("latitud").value = latitudDB;
                document.getElementById("longitud").value = longitudDB;

                console.log('Latitud:', latitudDB, 'Longitud:', longitudDB);
            });
        }



        jQuery.ajax({
        url: '@Url.Action("MostrarTodasLasPymes", "Administrador")',
        type: "GET",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            console.log(data)
        }
        })

    //carga la tabla

    var filaSeleccionada;
        var tabladata;
        var filaSeleccionadaActivar;
        var filaSeleccionadaRechazar;
    var filaSeleccionadaEliminar;
        var datas;
        var datasAcep;
        var datasRech;
        var datasTemp;
        var tempRech;

        tabladata = $("#tablaAdmin").DataTable({
        responsive: true,
        ordering: false,
        "ajax": {
            url: '@Url.Action("MostrarTodasLasPymes", "Administrador")',
            type: "GET",
            dataType: "json",
        },
        "columns": [
            { "data": "pyme.Id" },
            { "data": "pyme.Nombre" },
            { "data": "pyme.Correo" },
            { "data": "pyme.AreaTrabajo" },
            { "data": "pyme.NumeroTelefono" },
            {"data": "pyme.Estado_pyme"},
            {
                "defaultContent": "pyme.Estado_pyme",
                "render": function (data, type, row, meta) {
                    if (row.pyme.Estado_pyme === "Pendiente") {
                        return '<button type="button" title="Editar Pyme" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" title="Borrar Pyme" class="btn btn-secondary btn-sm ms-2 btn-borrar"><i class="fas fa-trash"></i></button>' +
                            '<button type="button" title="Rechazar Pyme" class="btn btn-danger btn-sm ms-2 btn-rechazar"><i class="fas fa-solid fa-ban"></i></button>' +
                            '<button type="button" title="Aprobar Pyme" class="btn btn-success btn-sm ms-2 btn-activar"><i class="fas fa-solid fa-check"></i></button>'

                    } else if (row.pyme.Estado_pyme === "Aprobada") {
                        return '<button type="button" title="Editar Pyme" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" title="Borrar Pyme" class="btn btn-secondary btn-sm ms-2 btn-borrar"><i class="fas fa-trash"></i></button>' +
                            '<button type="button" title="Rechazar Pyme" class="btn btn-danger btn-sm ms-2 btn-rechazar"><i class="fas fa-solid fa-ban"></i></button>'
                    } else {
                        return '<button type="button" title="Editar Pyme" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" title="Borrar Pyme" class="btn btn-secondary btn-sm ms-2 btn-borrar "><i class="fas fa-trash"></i></button>' +
                            '<button type="button" title="Aprobar Pyme" class="btn btn-success btn-sm ms-2 btn-activar"><i class="fas fa-solid fa-check"></i></button>'
                    }
                },



                "orderable": false,
                "searchable": false,
                "width": "140px"
            }


        ],
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
        }
    });



   //RECHAZAR PYME
        function cerrarModadDeRechazo() {


            $("#rechazopyme-modal").modal("hide");
    }
    function abirModalDeRechazo() {

        $("#rechazopyme-modal").modal("show");
    }

          //abre ejecuta el rechazo
        document.getElementById("rechazar-pyme2").onclick = function () {
                /*Obtener los valores de los campos del formulario*/

                var razonRechazoa= document.getElementById("razonRechazo2").value;

                // Validar los campos requeridos
                var errorMessage = "";
                if (razonRechazoa == "") {
                    errorMessage += "Debe ingresar la razon .\n";
                }

                // Mostrar el mensaje de error o enviar el formulario
                if (errorMessage != "") {
                    alert(errorMessage);
                } else {
                    razonRechazo();
                }

            };


        //guarda la pyme a actualizar, se hace un temporal debido a que el logo es una cadena y eso hace que se corrompa el objeto.
        $("#tablaAdmin tbody").on("click", '.btn-rechazar', function () {

            filaSeleccionadaRechazar = $(this).closest("tr");
            datasRech = tabladata.row(filaSeleccionadaRechazar).data();
            tempRech = datasRech.pyme;
            tempRech.Logo = null;
            document.getElementById("razonRechazo2").value = "";
            abirModalDeRechazo()

        })

        function razonRechazo() {
            var razonRech = {
                Id: parseInt(1),
                IdPyme: parseInt(tempRech.Id),
                Razon_rechazo: $("#razonRechazo2").val().toString()
            }
            razonRech.Id = null;
            console.log(razonRech);
            jQuery.ajax({
                            url: '@Url.Action("PlataformistaRazonRechazo", "Administrador")',
                            type: "POST",
                            data: JSON.stringify({ objeto: razonRech }),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {

                                if (data.resultado) {
                                    cerrarModadDeRechazo();
                                    rechazar();

                                } else {
                                    alert(data.mensaje);
                                }
                            },
                            error: function (error) {
                                console.log(error)
                            },
                            beforeSend: function () {

                            },
                        })
        }
        // ajax de eliminar fotos

                     function eliminarPymeFoto(idenFot) {
    // Realizar llamada AJAX al backend
    // Ajusta la URL y los parámetros según tu configuración del backend
                 var idenFotInt = parseInt(idenFot);
        console.log(idenFot)
                 var Foto = {
                     ID: idenFotInt,
                     PymeId: 0,
                     CantidadByte: []
                 };
                 console.log(Foto)
    // Ejemplo de uso de AJAX con jQuery
                 jQuery.ajax({
        url: '@Url.Action("EliminarFotoPyme", "Administrador")',
        type: "POST",
        data: JSON.stringify({ objeto: Foto }),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (response) {
            if (response.resultado == true) {
                let element = document.getElementById("divpyme-" + idenFot);
                element.remove();
                var fotos = dataprint.fotosPyme;
                for (var i = 0; i < fotos.length; i++) {
                    if (fotos[i].ID === idenFot) {
                        fotos.splice(i, 1);
                        break;
                    }
                }
                tabladata.row(filaSeleccionada).data(dataprint).draw();

            }
        },
        error: function (xhr, status, error) {
            console.error(error);
        }
    });
            }
             function eliminarProducto(idenFot) {
    // Realizar llamada AJAX al backend
    // Ajusta la URL y los parámetros según tu configuración del backend
                 console.log(idenFot)
                 var idenFotInt = parseInt(idenFot);
var Foto = {
            ID: idenFotInt,
            PymeId: 0,
            CantidadByte: []
        };
    // Ejemplo de uso de AJAX con jQuery
                 jQuery.ajax({
        url: '@Url.Action("EliminarFotoProducto", "Administrador")',
        type: "POST",
        data: JSON.stringify({ objeto: Foto }),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (response) {
            if (response.resultado == true) {
                let element = document.getElementById("divproducto-" + idenFot);
                element.remove();
                var fotos = dataprint.fotosProducto;
                for (var i = 0; i < fotos.length; i++) {
                    if (fotos[i].ID === idenFot) {
                        fotos.splice(i, 1);
                        break;
                    }
                }
                tabladata.row(filaSeleccionada).data(dataprint).draw();

            }
        },
        error: function (xhr, status, error) {
            console.error(error);
        }
    });
        }



        //metodo para actualizar estado de la pyme
        function rechazar() {

                jQuery.ajax({
                    url: '@Url.Action("RechazaPyme", "Administrador")',
                    type: "POST",
                    data: JSON.stringify({ objeto: tempRech }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.resultado) {
                            datasRech.pyme.Estado_pyme = "Rechazada";
                            tabladata.row(filaSeleccionadaRechazar).data(datasRech).draw(false);
                        } else {
                            alert(data.mensaje);
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    },
                    beforeSend: function () {

                    },
                })
        }



        //BORRAR PYME
    function cerrarModadDeConfirmacion() {


        $("#confirm-modal").modal("hide");
    }
    function abirModalDeConfirmacion() {

        $("#confirm-modal").modal("show");
    }



    //abre modal de eliminar pyme
       document.getElementById("eliminar-pyme").onclick = function () {
                eliminar();
                cerrarModadDeConfirmacion();
        }
        function eliminar() {

                jQuery.ajax({
                    url: '@Url.Action("EliminarPyme", "Administrador")',
                    type: "POST",
                    data: JSON.stringify({ objeto: datas}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.resultado) {
                            tabladata.row(filaSeleccionadaEliminar).remove().draw(false);

                        } else {
                            alert(data.mensaje);
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    },
                    beforeSend: function () {

                    },
                })
        }
        $("#tablaAdmin tbody").on("click", '.btn-borrar', function () {


            filaSeleccionadaEliminar = $(this).closest("tr");

            datas = tabladata.row(filaSeleccionadaEliminar).data().pyme;
            datas.Logo = null;
            console.log(datas)
            abirModalDeConfirmacion()

        })

        //ACTIVAR PYME METODOS
        $("#tablaAdmin tbody").on("click", '.btn-activar', function () {


            filaSeleccionadaActivar = $(this).closest("tr");
            datasAcep = tabladata.row(filaSeleccionadaActivar).data();
            datasTemp = datasAcep.pyme;
            datasTemp.Logo = null;
            console.log(datasAcep);
            console.log(datasTemp);
            aprobarPyme();

        })
        function aprobarPyme() {

                jQuery.ajax({
                    url: '@Url.Action("ActivaPyme", "Administrador")',
                    type: "POST",
                    data: JSON.stringify({ objeto: datasTemp}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.resultado) {
                            datasAcep.pyme.Estado_pyme = "Aprobada";
                            tabladata.row(filaSeleccionadaActivar).data(datasAcep).draw(false);

                        } else {
                            alert(data.mensaje);
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    },
                    beforeSend: function () {

                    },
                })
        }



// editar pyme

        function AbrirModalEditar(json) {


            if (json != null) {


                //$("#name").val(json.Nombre);
                //$("#firstLastName").val(json.Apellido1);
                //$("#secondLastName").val(json.Apellido2);
                //$("#phone").val(json.NumeroTelefono);
                //$("#email").val(json.Correo);
                //$("#password").val(json.Contrasena);
                //$("#confirm-password").val(json.Contrasena);
                //$("#ced").val(json.Cedula);
                //$("#cboactivo").val(json.Estado == 1 ? 1 : 2);
                //$("#cbtipo").val(json.Tipo == 2 ? 2 : 3);\

                $("#id2").val(json.pyme.Id);
                $("#estado2").val();
                $("#id_usuario").val(json.pyme.Id_usuario);
                $("#name2").val(json.pyme.Nombre);
                $("#phone2").val(json.pyme.NumeroTelefono);
                $("#email2").val(json.pyme.Correo);
                $("#comboboxAreaTrabajo2").val(json.pyme.AreaTrabajo);
                $("#descripcion2").val(json.pyme.Descripcion);
                $("#sitioWeb2").val(json.pyme.SitioWeb);
                $("#webSocial2").val(json.pyme.WebSocial);
                $("#id_usuario").val(json.pyme.Id_usuario);


                latitudDB1 = json.pyme.Latitud
                longitudDB1 = json.pyme.Longitud
                cordenadas = {
                    lng: new Decimal(json.pyme.Longitud),
                    lat: new Decimal(json.pyme.Latitud)
                }
                generarMapaEditar(cordenadas, "mapa2")
                var imgElement = document.getElementById("img-logo")
                if (json.pyme.Logo != null) {
                    let arrayBuffer = new Uint8Array(json.pyme.Logo);
                    let blob = new Blob([arrayBuffer], { type: 'image/jpeg' }); // Ajusta el tipo MIME según el formato de la imagen
                    let imageUrl = URL.createObjectURL(blob);

                    imgElement.classList.remove("d-none");
                    imgElement.src = imageUrl;
                } else {
                    imgElement.classList.add("d-none");
                }

                if (json.fotosProducto != null && json.fotosProducto.length > 0) {
                    const divFotosProducto = document.getElementById('fotosProducto');

                    divFotosProducto.innerHTML = '';
                    json.fotosProducto.forEach(function (foto) {

                        var temp = foto.ID;
                        divFotosProducto.innerHTML += `
                   <div class="col-sm-4 text-center justify-content-center" id="divproducto-${foto.ID}"">
                         <img id="fotoproducto-${foto.ID}" class="img-fluid rounded-circle mt-2 mb-2" alt="Imagen" style="max-width: 200px;">
                         <button type="button" onclick="eliminarProducto(${foto.ID})" id="eliminafotoproducto-${foto.ID}" title="Borrar Foto" class="btn btn-danger btn-sm ms-2 btn-borrar"><i class="fas fa-times"></i></i> </button>
                 </div>
                    `;


                        imgElement12 = document.getElementById("fotoproducto-" + foto.ID)
                        botonEliminar = document.getElementById("eliminafotoproducto-" + foto.ID)



                        let arrayBuffer = new Uint8Array(foto.CantidadByte);
                        let blob = new Blob([arrayBuffer], { type: 'image/jpeg' });
                        let imageUrl = URL.createObjectURL(blob);
                        imgElement12.src = imageUrl;

                    })


                    document.getElementById("btn-fotos-producto").classList.remove("d-none");

                } else {
                    document.getElementById("btn-fotos-producto").classList.add("d-none");
                }

                if (json.fotosPyme != null && json.fotosPyme.length > 0) {
                    const divFotosProducto = document.getElementById('fotosPyme');

                    divFotosProducto.innerHTML = '';
                    json.fotosPyme.forEach(function (foto) {
                        divFotosProducto.innerHTML += `
                   <div class="col-sm-4 text-center justify-content-center" id="divpyme-${foto.ID}"">
                         <img id="fotopyme-${foto.ID}" class="img-fluid rounded-circle mt-2 mb-2" alt="Imagen" style="max-width: 200px;">
                         <button type="button" onclick="eliminarPymeFoto(${foto.ID})" id="eliminafotopyme-${foto.ID}" title="Borrar Foto" class="btn btn-danger btn-sm ms-2 btn-borrar"><i class="fas fa-times"></i></i> </button>
                 </div>
                    `;


                        imgElement12 = document.getElementById("fotopyme-" + foto.ID)
                        botonEliminar = document.getElementById("eliminafotopyme-" + foto.ID)





                        let arrayBuffer = new Uint8Array(foto.CantidadByte);
                        let blob = new Blob([arrayBuffer], { type: 'image/jpeg' });
                        let imageUrl = URL.createObjectURL(blob);
                        imgElement12.src = imageUrl;



                    })
                    document.getElementById("btn-fotos-pyme").classList.remove("d-none");
                } else {
                    document.getElementById("btn-fotos-pyme").classList.add("d-none");
                }


            }


            $("#editar-modal").modal("show");
        }

        document.getElementById("edit-btn").onclick = function () {
            /*Obtener los valores de los campos del formulario*/

            var name = document.getElementById("name2").value;
            var phone = document.getElementById("phone2").value;
            var email = document.getElementById("email2").value;
            var descripcion = document.getElementById("descripcion2").value;
            var areaTab = document.getElementById("comboboxAreaTrabajo2").value;
            var latitu = latitudDB1;
            var longitu = longitudDB1;

            var logo = document.getElementById("Elogo");
            var logo2 = document.getElementById("Elogo2");
            var logo3 = document.getElementById("Elogo3");
            // Validar los campos requeridos




            var errorMessage = "";

            if (logo2.value) {
                for (var i = 0; i < logo2.files.length; i++) {
                    var fileSize = logo2.files[i].size; // Obtener el tamaño del archivo en bytes

                    if (fileSize >= 416000) {
                        errorMessage += "La imagen " + logo2.files[i].name + " exede el peso permitido (416000 bites) .\n";
                    }
                }
            }
            if (logo3.value) {
                for (var i = 0; i < logo3.files.length; i++) {
                    var fileSize2 = logo3.files[i].size; // Obtener el tamaño del archivo en bytes

                    if (fileSize2 >= 416000) {
                        errorMessage += "La imagen " + logo3.files[i].name + " exede el peso permitido (416000 bites) .\n";
                    }
                }
            }

            if (logo.value) {
                if (logo.files[0].size >= 416000) {
                    errorMessage += "Debe ingresar un logo de menor cantidad de bytes maximo (416000 bites) .\n";
                }
            }


            if (name == "") {
                errorMessage += "Debe ingresar el nombre .\n";
            }
            if (areaTab == "") {
                errorMessage += "Debe seleccionar el area de trabajo.\n";
            }

            if (phone == "") {
                errorMessage += "Debe ingresar su número de teléfono.\n";
            } else if (!esNumeroTelefonico(phone)) {
                errorMessage += "Debe ingresar un número de teléfono valido.\n";
            }
            if (email == "") {
                errorMessage += "Debe ingresar su correo electrónico.\n";
            } else if (!esCorreo(email)) {
                errorMessage += "Debe ingresar una dirección de correo valida.\n";
            }
            if (descripcion == "") {
                errorMessage += "Debe ingresar la descripcion de la pyme.\n";
            }
            if (latitu == 0 && longitu == 0 || latitu === undefined || longitu === undefined) {
                errorMessage += "Debe marcar la ubicacion de la pyme.\n";
            }



            // Mostrar el mensaje de error o enviar el formulario
            if (errorMessage != "") {
                alert(errorMessage);
            } else {
                Editar();
            }

        };

        $("#tablaAdmin tbody").on("click", '.btn-editar', function () {


            filaSeleccionada = $(this).closest("tr");

            var data = tabladata.row(filaSeleccionada).data();
            dataprint = data;
            AbrirModalEditar(data);

        })
    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=iniciarMapa"></script>

    @if (ViewData["Mensaje"] != null)
    {
        <script>
        alert("@ViewData["Mensaje"]");
        </script>
    }
}

