
@{
    ViewBag.Title = "ListarPymes";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
    List<SelectListItem> lst = ViewBag.ComboBoxData;

}





@Scripts.Render("~/bundles/Register")

<div style="margin-left:15px">
    <ol class="breadcrumb mb-4 mt-4">
        <li class="breadcrumb-item"><a>Resumen</a></li>
        <li class="breadcrumb-item active">Pymes</li>
    </ol>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.3.1/decimal.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Mis Pymes
    </div>
    <div class="card-body">
        <div class="row">



            <div class="col-12">
                <button type="button" class="btn btn-success mb-2" onclick="abrirModal()">Registrar Nueva Pyme</button>
            </div>




            <hr />
            <table id="tabla" class="display cell-border" style="width: 100%">
                <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>AreaTrabajo</th>
                <th>Teléfono</th>
                <th>Estado</th>
                <th>Mantenimiento</th>
                </thead>
                <tbody>
                </tbody>


            </table>

        </div>


    </div>

</div>


<!-- Modal de estado -->
<div class="modal" id="estado-modal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Estado Pyme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="estadoP" name="estadoP" style=" border: none; background-color: #fff;" class="form-control" disabled />
                <input type="text" id="Motivo" name="Motivo" value="Motivo" style=" border: none; background-color: #fff;" class="form-control" disabled />
                <textarea class="form-control" style=" border: none; background-color: #fff;" id="razonRechazo2" rows="2" name="razonRechazo2" disabled></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="aceptar-pyme" onclick="cerrarModalEstado()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
    </div>
    <!-- Modal de borrar -->
    <div class="modal" id="confirm-modal" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmacion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Esta seguro de que desea eliminar esta Pyme? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" id="eliminar-pyme" onclick="cerrarModadDeConfirmacion()" class="btn btn-primary">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal  de registrar-->
    <div class="modal fade modal-xl" id="resgistro-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Creacion de Pyme</h5>
                    <button type="button" onclick="cerrarModal()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>



                <form action='@Url.Action("RegistraPyme", "Usuario")' enctype="multipart/form-data" method="post" class="mx-1 mx-md-4 mb-4" id="registration-form">
                    <input id="editsave" type="hidden" value="0" />



                    <div class="row">
                        <input id="latitud" name="Latitud" type="hidden" class="form-control" />
                        <input id="longitud" name="Longitud" type="hidden" class="form-control" />

                        <div class="col-sm-6 mt-2 form-floating">
                            <input type="number" name="id" id="id" class="form-control" placeholder="id " required title="Se asigna automaticamente luego de registrar la Pyme" disabled />
                            <label class="form-label" for="id">ID</label>
                        </div>
                        <div class="col-sm-6 mt-2 form-floating">
                            <input type="text" name="estado_pyme" id="estado" class="form-control" placeholder="estado " value="Pendiente" disabled />
                            <label class="form-label" for="estado">Estado</label>
                        </div>

                        <div class="col-sm-6 mt-2 form-floating">
                            <input type="text" name="nombre" id="name" class="form-control" placeholder="Nombre " required />
                            <label class="form-label" for="name">Nombre</label>
                            <div class="invalid-feedback">
                                Por favor Ingrese el Nombre.
                            </div>
                        </div>

                        <div class="col-sm-6 mt-2 form-floating">
                            <input type="tel" required title="Sin guiones ni espacios." name="numeroTelefono" id="phone" class="form-control" placeholder="Teléfono" required />
                            <label class="form-label" for="phone">Teléfono</label>
                            <div class="invalid-feedback" id="invalid-numerl-tel">
                            </div>
                        </div>


                        <div class="col-sm-6 mt-2 form-floating">
                            <input type="email" id="email" name="correo" class="form-control" placeholder="Correo Electrónico" required />
                            <label class="form-label" for="email">Correo Electrónico</label>
                            <div class="invalid-feedback" id="invalid-email">

                            </div>
                        </div>


                        <div class="col-sm-6 mt-2 form-floating">

                            @Html.DropDownList("areaTrabajo", lst, new { @class = "form-control input_user", id = "comboboxAreaTrabajo" })

                            <div class="invalid-feedback">
                                Favor Seleccione el Area de Trabajo
                            </div>
                        </div>


                        <div class="col-sm-12 mt-2 form-floating">
                            <div class="mb-3">
                                <label class="form-label" for="descripcion">Descripcion</label>
                                <textarea class="form-control" id="descripcion" rows="4" name="descripcion" required></textarea>
                            </div>
                            <div class="invalid-feedback" id="invalid-descrip">
                            </div>
                        </div>


                        <div class="col-sm-12 mt-2 form-floating">
                            <h6 class="form-label">Favor Indique donde esta su negocio por medio del marcador</h6>
                        </div>

                        <div class="col-sm-12 mt-2 form-floating">
                            <div id="mapa" style="width: 100%; height:500px;"></div>
                        </div>


                        <div class="col-sm-12 mt-3 form-floating">
                            <h5 class="form-label">Informacion Adicional</h5>
                        </div>

                        <div class="col-sm-6 mt-2 form-floating">
                            <input type="url" id="webSocial" name="webSocial" class="form-control" placeholder="Web Social" />
                            <label class="form-label" for="webSocial"> Web Social</label>
                        </div>

                        <div class="col-sm-6 mt-2 form-floating">
                            <input type="url" id="sitioWeb" name="sitioWeb" class="form-control" placeholder="Sitio Web" />
                            <label class="form-label" for="sitioWeb">Sitio Web</label>
                        </div>

                        <div class="col-sm-4 mt-3 form-floating">
                            <h7 class="form-label">Logo </h7>
                        </div>
                        <div class="col-sm-4 mt-3 form-floating">
                            <h7 class="form-label">Fotos del producto </h7>
                        </div>
                        <div class="col-sm-4 mt-3 form-floating">
                            <h7 class="form-label">Fotos de la pyme </h7>
                        </div>

                        <div class="col-sm-4 mt-2 form-floating">
                            <input required title="Solo se aceptan archivos png o jpeg" type="file" accept="image/png,image/jpeg" class="form-control-file" id="logo" name="upload">
                        </div>

                        <div class="col-sm-4 mt-2 form-floating">
                            <input required title="Solo se aceptan archivos png o jpeg" type="file" accept="image/png,image/jpeg" class="form-control-file" id="logo" name="producto" multiple>
                        </div>

                        <div class="col-sm-4 mt-2 form-floating">
                            <input required title="Solo se aceptan archivos png o jpeg" type="file" accept="image/png,image/jpeg" class="form-control-file" id="logo" name="pyme" multiple>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="cerrarModal()" id="btn_cerrar_modal" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="registration-btn">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- Modal Editar-->
    <div class="modal fade modal-xl" id="editar-modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Editar Pyme</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form action='@Url.Action("EditaPyme", "Usuario")' enctype="multipart/form-data" method="post" class="mx-1 mx-md-4 mb-4" id="registration-form2">
                        <input id="editsave" type="hidden" value="0" />



                        <div class="row">

                            <input id="latitud2" name="Latitud" type="hidden" class="form-control" />
                            <input id="longitud2" name="Longitud" type="hidden" class="form-control" />



                            <div class="col-sm-6 mt-2 form-floating">
                                <input id="id_usuario" name="Id_usuario" type="text" class="form-control" readonly />
                                <label class="form-label" for="id">ID Usuario</label>
                            </div>


                            <div class="col-sm-6 mt-2 form-floating">
                                <input type="text" name="id" id="id2" class="form-control" placeholder="id " readonly />
                                <label class="form-label" for="id">ID</label>
                            </div>
                            <div class="col-sm-6 mt-2 form-floating">
                                <input type="text" name="Estado_pyme" value="Pendiente" id="estado2" class="form-control" placeholder="estado " disabled />
                                <label class="form-label" for="estado">Estado</label>
                            </div>

                            <div class="col-sm-6 mt-2 form-floating">
                                <input type="text" name="nombre" id="name2" class="form-control" placeholder="Nombre " required />
                                <label class="form-label" for="name">Nombre</label>

                            </div>

                            <div class="col-sm-6 mt-2 form-floating">
                                <input type="tel" name="numeroTelefono" id="phone2" class="form-control" placeholder="Teléfono" required />
                                <label class="form-label" for="phone">Teléfono</label>

                            </div>


                            <div class="col-sm-6 mt-2 form-floating">
                                <input type="email" id="email2" name="correo" class="form-control" placeholder="Correo Electrónico" required />
                                <label class="form-label" for="email">Correo Electrónico</label>

                            </div>


                            <div class="col-sm-6 mt-2 form-floating">

                                @Html.DropDownList("areaTrabajo", lst, new { @class = "form-control input_user", id = "comboboxAreaTrabajo2" })

                                <div class="invalid-feedback">
                                    Favor Seleccione el Area de Trabajo
                                </div>
                            </div>


                            <div class="col-sm-12 mt-2 form-floating">
                                <div class="mb-3">
                                    <label class="form-label" for="descripcion">Descripcion</label>
                                    <textarea class="form-control" id="descripcion2" rows="4" name="descripcion" required></textarea>
                                </div>

                            </div>


                            <div class="col-sm-12 mt-2 form-floating">
                                <h6 class="form-label">Favor Indique donde esta su negocio por medio del marcador</h6>
                            </div>

                            <div class="col-sm-12 mt-2 form-floating">
                                <div id="mapa2" style="width: 100%; height:500px;"></div>
                            </div>


                            <div class="col-sm-12 mt-3 form-floating">
                                <h5 class="form-label">Informacion Adicional</h5>
                            </div>

                            <div class="col-sm-6 mt-2 form-floating">
                                <input type="url" id="webSocial2" name="webSocial" class="form-control" placeholder="Web Social" />
                                <label class="form-label" for="webSocial"> Web Social</label>
                            </div>

                            <div class="col-sm-6 mt-2 form-floating">
                                <input type="url" id="sitioWeb2" name="sitioWeb" class="form-control" placeholder="Sitio Web" />
                                <label class="form-label" for="sitioWeb">Sitio Web</label>
                            </div>

                            <div class="col-sm-12">
                                <img id="img-logo" class="img-fluid rounded-circle mt-2 mb-2" alt="Imagen" style="max-width: 200px;">
                            </div>
                            <div class="col-sm-12 ">
                                <label for="logo" class="form-label">Editar Logo:</label>
                                <input required title="Solo se aceptan archivos png o jpeg" type="file" accept="image/png,image/jpeg" class="form-control-file" id="logo" name="upload">
                            </div>




                        </div>



                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" id="btn-fotos-producto">Ver Fotos Producto</button>
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal" id="btn-fotos-pyme">Ver Fotos Pyme</button>
                    <button type="button" class="btn btn-primary" id="edit-btn">Editar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-xl" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Fotos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="row" id="fotosProducto">



                    </div>
                    <!-- Gallery -->
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#editar-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Volver</button>
                </div>
            </div>
        </div>



    </div>
    <div class="modal fade modal-xl" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel3">Fotos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="row" id="fotosPyme">



                    </div>
                    <!-- Gallery -->
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#editar-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Volver</button>
                </div>
            </div>
        </div>



    </div>


    @section scripts{

        <script>
        var latitudDB;
        var longitudDB;


        var latitudDB1;
        var longitudDB1;

        let imgElement12;
        let botonEliminar;
        function abrirModal() {
            $("#resgistro-modal").modal("show");
        }

        function cerrarModal() {
            $("#resgistro-modal").modal("hide");
    }

    //modal de editar pyme
    function abrirModalEditar() {
        $("#form-modalEdit").modal("show");
    }

    function cerrarModalEditar() {
        $("#form-modalEdit").modal("hide");
    }


        function Guardar() {
            //pasar a binario
            var hola = document.getElementById("latitud")
            hola.value = latitudDB;
            document.getElementById("longitud").value = longitudDB;

            document.getElementById("registration-form").submit();
    }
    function Editar() {
        //pasar a binario
        var hola = document.getElementById("latitud2")
        hola.value = latitudDB1;
        document.getElementById("longitud2").value = longitudDB1;

        document.getElementById("registration-form2").submit();
    }
    //validacion
        function esNumeroTelefonico(numero) {
            const regex = /^\d{8}$/;
            return regex.test(numero);
        }



        document.getElementById("registration-btn").onclick = function () {
            /*Obtener los valores de los campos del formulario*/

            var name = document.getElementById("name").value;
            var phone = document.getElementById("phone").value;
            var email = document.getElementById("email").value;
            var descripcion = document.getElementById("descripcion").value;
            var areaTab = document.getElementById("comboboxAreaTrabajo").value;
            var latitu = latitudDB;
            var longitu = longitudDB;

            // Validar los campos requeridos
            var errorMessage = "";
            if (name == "") {
                errorMessage += "Debe ingresar el nombre .\n";
            }
            if (areaTab == "") {
                errorMessage += "Debe seleccionar el area de trabajo.\n";
            }

            if (phone == "") {
                errorMessage += "Debe ingresar su número de teléfono.\n";
            } else if (!esNumeroTelefonico(phone)) {
                errorMessage += "Debe ingresar un número de teléfono valido.\n";
            }
            if (email == "") {
                errorMessage += "Debe ingresar su correo electrónico.\n";
            } else if (!esCorreo(email)) {
                errorMessage += "Debe ingresar una dirección de correo valida.\n";
            }
            if (descripcion == "") {
                errorMessage += "Debe ingresar la descripcion de la pyme.\n";
            }
            if (latitu == 0 && longitu == 0 || latitu == undefined || longitudDB == undefined) {
                errorMessage += "Debe marcar la ubicacion de la pyme.\n";
            }



            // Mostrar el mensaje de error o enviar el formulario
            if (errorMessage != "") {
                alert(errorMessage);
            } else {
                Guardar();
            }

        };

    //validaciones
        const name = document.getElementById("name");
        name.addEventListener("blur", function () {
            if (!name.value) {
                name.classList.add("is-invalid");
            } else {
                name.classList.remove("is-invalid");
            }
        });
        const areaT = document.getElementById("comboboxAreaTrabajo");
        areaT.addEventListener("blur", function () {
            if (!areaT.value) {
                areaT.classList.add("is-invalid");
            } else {
                areaT.classList.remove("is-invalid");
            }
        });
        const phone = document.getElementById("phone");
        const errorTelefono = document.getElementById("invalid-numerl-tel");
        phone.addEventListener("blur", function () {
            if (!phone.value) {
                phone.classList.add("is-invalid");
                errorTelefono.textContent = "Por favor ingrese un número de teléfono"
            } else if (!esNumeroTelefonico(phone.value)) {
                phone.classList.add("is-invalid");
                errorTelefono.textContent = "Por favor ingrese un número de teléfono valido, formato: XXXXXXX)"
            } else {
                phone.classList.remove("is-invalid");
            }
        });

        const email = document.getElementById("email");
        const errorCorreo = document.getElementById("invalid-email");
        email.addEventListener("blur", function () {
            if (!email.value) {
                email.classList.add("is-invalid");
                errorCorreo.textContent = "Por favor ingrese un correo electrónico valido"
            } else if (!esCorreo(email.value)) {
                email.classList.add("is-invalid");
                errorCorreo.textContent = "Por favor ingrese un correo electrónico valido"
            } else {
                email.classList.remove("is-invalid");
            }
        });
        const descripcion = document.getElementById("descripcion");
        name.addEventListener("blur", function () {
            if (!name.value) {
                name.classList.add("is-invalid");
            } else {
                name.classList.remove("is-invalid");
            }
        });


    //mapa
        function iniciarMapa() {
            var latitud = 9.996528099999999;
            var longitud = -84.0968322

            cordenadas = {
                lng: longitud,
                lat: latitud
            }

            generarMapa(cordenadas,"mapa");
        }


    //mapa
        function generarMapa(cordenadas,id) {
            var mapa = new google.maps.Map(document.getElementById(id), {
                zoom: 15,
                center: new google.maps.LatLng(cordenadas.lat, cordenadas.lng)
            });

            var marcador = new google.maps.Marker({
                map: mapa,
                draggable: true,
                position: new google.maps.LatLng(cordenadas.lat, cordenadas.lng)
            });

            marcador.addListener('dragend', function (event) {
                latitudDB = this.getPosition().lat();
                longitudDB = this.getPosition().lng();
                document.getElementById("latitud").value = latitudDB;
                document.getElementById("longitud").value = longitudDB;

                console.log('Latitud:', latitudDB, 'Longitud:', longitudDB);
            });
        }
        // mapa edit
        function generarMapaEditar(cordenadas, id) {
            var mapa = new google.maps.Map(document.getElementById(id), {
                zoom: 15,
                center: new google.maps.LatLng(cordenadas.lat, cordenadas.lng)
            });

            var marcador = new google.maps.Marker({
                map: mapa,
                draggable: true,
                position: new google.maps.LatLng(cordenadas.lat, cordenadas.lng)
            });

            marcador.addListener('dragend', function (event) {
                latitudDB1 = this.getPosition().lat();
                longitudDB1 = this.getPosition().lng();
                document.getElementById("latitud").value = latitudDB;
                document.getElementById("longitud").value = longitudDB;

                console.log('Latitud:', latitudDB, 'Longitud:', longitudDB);
            });
        }

        jQuery.ajax({
        url: '@Url.Action("MostrarPymes", "Usuario")',
        type: "GET",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            console.log(data)
        }
        })

    //carga la tabla
    var filaSeleccionadaEst;
    var filaSeleccionada;
    var tabladata;
    var filaSeleccionadaEliminar;
    var datas;
    tabladata = $("#tabla").DataTable({
        responsive: true,
        ordering: false,
        "ajax": {
            url: '@Url.Action("MostrarPymes", "Usuario")',
            type: "GET",
            dataType: "json",
        },
        "columns": [
            { "data": "pyme.Id" },
            { "data": "pyme.Nombre" },
            { "data": "pyme.Correo" },
            { "data": "pyme.AreaTrabajo" },
            { "data": "pyme.NumeroTelefono" },
            {
                "data": "pyme.Estado_pyme", "render": function (valor) {
                    if (valor === "Pendiente") {

                        return '<button type="button" class="btn btn-warning btn-estado">Pendiente</button>'
                    } else if (valor === "Aprobada") {
                        return '<button type="button" class="btn btn-success btn-estado">Aprobada</button>'
                    } else {
                        return '<button type="button" class="btn btn-danger btn-estado">Rechazado</button>'
                    }
                },

                "width": "50px"
            },


            {

                "defaultContent": "pyme.Estado_pyme",
                "render": function (data, type, row, meta) {
                    if (row.Estado_pyme === "Pendiente") {
                        return '<button type="button" title="Editar Pyme" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" title="Borrar Pyme" class="btn btn-secondary btn-sm ms-2 btn-borrar"><i class="fas fa-trash"></i></button>'
                    } else if (row.Estado === "Aprobado") {
                        return '<button type="button" title="Editar Pyme" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" title="Borrar Pyme" class="btn btn-secondary btn-sm ms-2 btn-borrar"><i class="fas fa-trash"></i></button>'
                    } else {
                        return '<button type="button" title="Editar Pyme" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" title="Borrar Pyme" class="btn btn-secondary btn-sm ms-2 btn-borrar "><i class="fas fa-trash"></i></button>'
                    }
                },



                "orderable": false,
                "searchable": false,
                "width": "90px"
            }


        ],
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
        }
    });

    //modal de borrar
    function cerrarModadDeConfirmacion() {


        $("#confirm-modal").modal("hide");
    }
    function abirModalDeConfirmacion() {

        $("#confirm-modal").modal("show");
    }



    //abre modal de eliminar pyme
       document.getElementById("eliminar-pyme").onclick = function () {
                eliminar();
                cerrarModadDeConfirmacion();
        }
        function eliminar() {

                jQuery.ajax({
                    url: '@Url.Action("EliminarPyme", "Usuario")',
                    type: "POST",
                    data: JSON.stringify({ objeto: datas}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.resultado) {
                            tabladata.row(filaSeleccionadaEliminar).remove().draw(false);

                        } else {
                            alert(data.mensaje);
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    },
                    beforeSend: function () {

                    },
                })
            }


    $("#tabla tbody").on("click", '.btn-editar',function () {


                    filaSeleccionada = $(this).closest("tr");

                    var data = tabladata.row(filaSeleccionada).data();

                    AbrirModalEditar(data);

                })


            $("#tabla tbody").on("click", '.btn-borrar', function () {


                filaSeleccionadaEliminar = $(this).closest("tr");

                datas = tabladata.row(filaSeleccionadaEliminar).data().pyme;
                datas.Logo = null;
                console.log(datas)
                abirModalDeConfirmacion()



            })
        //modal de estado pyme
        function cerrarModalEstado() {
            $("#estado-modal").modal("hide");
        }

        $("#tabla tbody").on("click", '.btn-estado', function () {
            filaSeleccionadaEst = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionadaEst).data();
            console.log(data.pyme);
            AbrirModalEstado(data);
        });

        function AbrirModalEstado(json) {
            if (json != null) {
                if (json.pyme.Estado_pyme === "Pendiente") {
                    $("#estadoP").val(json.pyme.Estado_pyme);
                    $("#razonRechazo2").val("En espera de su aprobación, le ofrecemos nuestras disculpas por las molestias ocasionadas.");
                } else if (json.pyme.Estado_pyme === "Aprobada") {
                    $("#estadoP").val(json.pyme.Estado_pyme);
                    $("#razonRechazo2").val("La pyme fue aprobada, ahora es visible para los usuarios del sistema.");
                } else if (json.pyme.Estado_pyme === "Rechazada") {
                    $("#estadoP").val(json.pyme.Estado_pyme);
                    $("#razonRechazo2").val("La pyme fue rechazada, lamentamos las molestias ocasionadas.");
                }
            }
            $("#estado-modal").modal("show");
        }
    function AbrirModalEditar(json) {


        if (json != null) {


            //$("#name").val(json.Nombre);
            //$("#firstLastName").val(json.Apellido1);
            //$("#secondLastName").val(json.Apellido2);
            //$("#phone").val(json.NumeroTelefono);
            //$("#email").val(json.Correo);
            //$("#password").val(json.Contrasena);
            //$("#confirm-password").val(json.Contrasena);
            //$("#ced").val(json.Cedula);
            //$("#cboactivo").val(json.Estado == 1 ? 1 : 2);
            //$("#cbtipo").val(json.Tipo == 2 ? 2 : 3);\

            $("#id2").val(json.pyme.Id);
            $("#estado2").val();
            $("#name2").val(json.pyme.Nombre);
            $("#phone2").val(json.pyme.NumeroTelefono);
            $("#email2").val(json.pyme.Correo);
            $("#comboboxAreaTrabajo2").val(json.pyme.AreaTrabajo);
            $("#descripcion2").val(json.pyme.Descripcion);
            $("#sitioWeb2").val(json.pyme.SitioWeb);
            $("#webSocial2").val(json.pyme.WebSocial);
            $("#id_usuario").val(json.pyme.Id_usuario);


            latitudDB1 = json.pyme.Latitud
            longitudDB1 = json.pyme.Longitud
            cordenadas = {
                lng: new Decimal(json.pyme.Longitud),
                lat: new Decimal(json.pyme.Latitud)
            }
            generarMapa(cordenadas, "mapa2")
            var imgElement = document.getElementById("img-logo")
            if (json.pyme.Logo != null) {
                let arrayBuffer = new Uint8Array(json.pyme.Logo);
                let blob = new Blob([arrayBuffer], { type: 'image/jpeg' }); // Ajusta el tipo MIME según el formato de la imagen
                let imageUrl = URL.createObjectURL(blob);

                imgElement.classList.remove("d-none");
                imgElement.src = imageUrl;
            } else {
                imgElement.classList.add("d-none");
            }

            if (json.fotosProducto != null && json.fotosProducto.length > 0) {
                const divFotosProducto = document.getElementById('fotosProducto');

                divFotosProducto.innerHTML = '';
                json.fotosProducto.forEach(function (foto) {

                    divFotosProducto.innerHTML += `
                   <div class="col-sm-4 text-center justify-content-center" id="divproducto-${foto.ID}"">
                         <img id="fotoproducto-${foto.ID}" class="img-fluid rounded-circle mt-2 mb-2" alt="Imagen" style="max-width: 200px;">
                         <button type="button" id="eliminafotoproducto-${foto.ID}" title="Borrar Foto" class="btn btn-danger btn-sm ms-2 btn-borrar"><i class="fas fa-times"></i></i> </button>
                 </div>
                    `;


                    imgElement12 = document.getElementById("fotoproducto-" + foto.ID)
                    botonEliminar = document.getElementById("eliminafotoproducto-" + foto.ID)


                    botonEliminar.onclick = function () {
                        const idFoto = foto.ID

                        // Realizar llamada AJAX al backend
                        // Ajusta la URL y los parámetros según tu configuración del backend

                        const parametros = { id: idFoto };

                        $.ajax({
                            url: '@Url.Action("EliminarFotoProducto", "Usuario")',
                            method: 'POST',
                            data: parametros,
                            success: function (response) {
                                // Procesar la respuesta del backend si es necesario
                                if (response.resultado == true) {
                                    document.getElementById("divproducto-" + foto.ID).remove();


                                }
                            },
                            error: function (xhr, status, error) {
                                // Manejar el error de la llamada AJAX si es necesario
                                console.error(error);
                            }
                        });
                    };






                    let arrayBuffer = new Uint8Array(foto.CantidadByte);
                    let blob = new Blob([arrayBuffer], { type: 'image/jpeg' });
                    let imageUrl = URL.createObjectURL(blob);
                    imgElement12.src = imageUrl;



                })


                document.getElementById("btn-fotos-producto").classList.remove("d-none");

            } else {
                document.getElementById("btn-fotos-producto").classList.add("d-none");
            }

            if (json.fotosPyme != null && json.fotosPyme.length > 0) {
                const divFotosProducto = document.getElementById('fotosPyme');

                divFotosProducto.innerHTML = '';
                json.fotosPyme.forEach(function (foto) {

                    divFotosProducto.innerHTML += `
                   <div class="col-sm-4 text-center justify-content-center" id="divpyme-${foto.ID}"">
                         <img id="fotopyme-${foto.ID}" class="img-fluid rounded-circle mt-2 mb-2" alt="Imagen" style="max-width: 200px;">
                         <button type="button" id="eliminafotopyme-${foto.ID}" title="Borrar Foto" class="btn btn-danger btn-sm ms-2 btn-borrar"><i class="fas fa-times"></i></i> </button>
                 </div>
                    `;


                    imgElement12 = document.getElementById("fotopyme-" + foto.ID)
                    botonEliminar = document.getElementById("eliminafotopyme-" + foto.ID)


                    botonEliminar.onclick = function () {
                        const idFoto = foto.ID

                        // Realizar llamada AJAX al backend
                        // Ajusta la URL y los parámetros según tu configuración del backend

                        const parametros = { id: idFoto };

                        // Ejemplo de uso de AJAX con jQuery
                        $.ajax({
                            url: '@Url.Action("EliminarFotoPyme", "Usuario")',
                            method: 'POST',
                            data: parametros,
                            success: function (response) {

                                if (response.resultado == true) {
                                    let element = document.getElementById("divpyme-" + foto.ID);
                                    element.remove();


                                }
                            },
                            error: function (xhr, status, error) {

                                console.error(error);
                            }
                        });
                    };






                    let arrayBuffer = new Uint8Array(foto.CantidadByte);
                    let blob = new Blob([arrayBuffer], { type: 'image/jpeg' });
                    let imageUrl = URL.createObjectURL(blob);
                    imgElement12.src = imageUrl;



                })
                document.getElementById("btn-fotos-pyme").classList.remove("d-none");
            } else {
                document.getElementById("btn-fotos-pyme").classList.add("d-none");
            }


        }












        $("#editar-modal").modal("show");
    }
        document.getElementById("edit-btn").onclick = function () {
            /*Obtener los valores de los campos del formulario*/

            var name = document.getElementById("name2").value;
            var phone = document.getElementById("phone2").value;
            var email = document.getElementById("email2").value;
            var descripcion = document.getElementById("descripcion2").value;
            var areaTab = document.getElementById("comboboxAreaTrabajo2").value;
            var latitu = latitudDB1;
            var longitu = longitudDB1;

            // Validar los campos requeridos
            var errorMessage = "";
            if (name == "") {
                errorMessage += "Debe ingresar el nombre .\n";
            }
            if (areaTab == "") {
                errorMessage += "Debe seleccionar el area de trabajo.\n";
            }

            if (phone == "") {
                errorMessage += "Debe ingresar su número de teléfono.\n";
            } else if (!esNumeroTelefonico(phone)) {
                errorMessage += "Debe ingresar un número de teléfono valido.\n";
            }
            if (email == "") {
                errorMessage += "Debe ingresar su correo electrónico.\n";
            } else if (!esCorreo(email)) {
                errorMessage += "Debe ingresar una dirección de correo valida.\n";
            }
            if (descripcion == "") {
                errorMessage += "Debe ingresar la descripcion de la pyme.\n";
            }
            if (latitu == 0 && longitu == 0 || latitu === undefined || longitudDB === undefined) {
                errorMessage += "Debe marcar la ubicacion de la pyme.\n";
            }



            // Mostrar el mensaje de error o enviar el formulario
            if (errorMessage != "") {
                alert(errorMessage);
            } else {
                Editar();
            }

        };
        </script>



        <script src="https://maps.googleapis.com/maps/api/js?key=&callback=iniciarMapa"></script>
        @if (ViewData["Mensaje"] != null)
        {
            <script>
        alert("@ViewData["Mensaje"]");
            </script>
        }
    }
